.cor-de-fundo{
    background-color: #C289FA;
    font-family: 'Roboto', sans-serif;
}

.tamanho{
    width: 500px;
    height: 200px;
}

.margem{
    margin: 80px #3D167A;
    padding: 0%;
    border: 0%;
}

.borda{
    margin: 0px;
    border: 20px solid #C289FA98;
    padding: 0%;
}

.preenchimento{
    padding: 80px #3D167A;
    color: hotpink;
}

a{
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: #000000;
    transition: all .2s ease-in-out;
}

a:hover{
    background-color: #3D167A;
    color: white; 
}

body{
    background-color: rgba(194, 137, 250, 0.596);
}

hr{
    border-color: #3D167A;
}

.cor-de-titulos{
    color: #3D167A;
}

.cor-de-box{
    color: #C289FA;
    background-color: #3D167A;

}

.cor-de-box1{
    color: #C289FA;
    background-color: #3D167A;
    margin: 80px;
}

.cor-de-box2{
    color: #C289FA;
    background-color: #3D167A;
    padding: 80px;
    width: 1000px;
   
}

.cor-de-box3{
    color: #C289FA;
    background-color: #3D167A;
    width: 960px;

}